.calculator__name {
  input {
    width: 100%;
    background-color: inherit;
    color: var(--colorBlack);
    border: none;
    text-align: center;
    font-size: var(--fontSizeMD);
    &:focus {
      outline: none;
    }

    button {
      display: none;
    }
  }
}
