@use '../styles/variables';

.pad {
  display: grid;
  grid-template-columns: repeat(4, var(--buttonSize));
  grid-template-rows: repeat(5, var(--buttonSize));
  gap: 2.5rem;
  &__numbers {
    grid-column: 1/4;
    grid-row: 2/6;
  }

  &__operators {
    grid-column: 4/5;
    grid-row: 1/5;
  }

  &__actions {
    &--equal {
      grid-column: 3/4;
      grid-row: 5/6;
    }

    &--dot {
      grid-column: 2/3;
      grid-row: 5/6;
    }
  }
}
