.calculator__pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.calculator__button {
  font-size: var(--fontSizeMD);
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: var(--buttonSize);
  height: var(--buttonSize);
  box-shadow: 0 0.4rem 0.4rem rgb(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.1s;
  &:active {
    transform: translateY(1px);
  }
}
