:root {
  --buttonSize: 6rem;
  --colorBlack: #03071e;
  --colorDark: #242423;
  --colorGrey: #444444;
  --colorPrimary: #f5cb5c;
  --colorGreyLight: #686868;

  --fontSizeEBG: 10rem;
  --fontSizeBG: 6rem;
  --fontSizeMD: 3rem;
  --fontSizeSM: 1.5rem;
}

$screenMobileS: 320px;
$screenMobileM: 375px;
$screenMobileL: 425px;
$screenTablet: 768px;
$screenLaptop: 1024px;
$screenLaptopL: 1440px;
$screenDesktop: 1920px;
