:root {
  --buttonSize: 6rem;
  --colorBlack: #03071e
  --colorDark: #242423;
  --colorGrey: #444444;
  --colorPrimary: #f5cb5c;
  --colorGreyLight: #686868;

  --fontSizeEBG: 10rem;
  --fontSizeBG: 6rem;
  --fontSizeMD: 3rem;
  --fontSizeSM: 1.5rem;
}
