@use './variables';
@use './pad';
@use './calculatorName';
@use './screen';
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
}

.calculator {
  padding: 3rem;
  height: 100vh;
}
